[submodule "metodologias/tarea-0-GaucheBeing"]
	path = metodologias/tarea-0-GaucheBeing
	url = https://github.com/dcc-cc3002/tarea-0-GaucheBeing
[submodule "metodologias/cc5905"]
	path = metodologias/cc5905
	url = https://github.com/Bigelazo/cc5905
[submodule "metodologias/faq"]
	path = metodologias/faq
	url = https://github.com/dcc-cc3002/faq
